body {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}
.header-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tab-container {
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #ddd;
}

.tab-list {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-panel-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.employee {
  border: 1px solid #ddd;
  width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.date {
  display: "flex";
  align-items: "center";
  gap: "0.5em";
}
